body{
    background-color: #ffd8e1;
}

.my_navbar{
    background: #FFD8E1;
    margin-left: -89px;
    margin-right: -89px;
    
}

.my_navbar ul li a{
    color: black;
}

.my_navbar img{
    margin-left: 60px;
    font-weight: bold;
}
.my_navbar ul{
    margin-right: 40px;
}
.section-two{
    background-image: url("images/parlour.jpg");
    text-align: center;
    margin-top: 150px;
} 

#orderBtn {
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #E12323;
    margin-bottom: 50px;
}


footer{
    color: white;
}
 footer a{
     color: white;
 }


.btn{
    background-color: white;
    color: black;
}