body{
    background-color: #ffd8e1;
    overflow-x: hidden;
}

.my_navbar{
    background: #FFD8E1;
    margin-left: -89px;
    margin-right: -89px;
    
}

.my_navbar ul li a{
    color: black;
}

.my_navbar img{
    margin-left: 60px;
    font-weight: bold;
}
.my_navbar ul{
    margin-right: 40px;
}
.section-two{
    text-align: center;
    margin-right: -85px;
} 

.section-two h1{
    padding-top: 200px;
}

.about{
    display: flex;
    
}
.about h5{
    margin-top: 100px;
    background-color: #E12323;
    padding: 10px;

}
.about p{
    margin-bottom: 100px;
    background-color: #E12323;
    margin-top: -10px;
    padding: 30px;
}
.about img{
    margin-top: 150px;
    margin-left: -90px;
    height: 50%;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#services{
    text-align: center;
}

#orderBtn ,#book{
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: #E12323;
    margin-bottom: 200px;
    
}



footer{
    color: white;
}
 footer a{
     color: white;
 }


.btn{
    background-color: white;
    color: black;
}
#hair-dressor,#masseuse, #manicurist{
    display: none;
}

@media screen and (min-width:1024px) 
and (min-device-width: 1200px) and 
(max-device-width: 1600px) and 
(-webkit-min-device-pixel-ratio: 1){
    #form{
        margin-left: 400px;
    }
}