body{
    background-color: white;
}
.rightcontact{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.title{
    text-align: center;
}
.rightcontact{
    /* margin:  2rem; */
    float: right;
    padding: 40px;
    border-radius: 7rem;
}